<div class="header-container">
    <div class="announcement-banner"><p>ANNOUNCEMENTS MOVING BANNER – DRIVEN BY CMS</p></div>
    <div class="option-container">
        <div class="option"><img src="../../assets/font-size.png"><p>SELECT FONT SIZE</p></div>
        <div class="option"><img src="../../assets/language.png"><p>SELECT LANGUAGE</p></div>
        <div class="option"><img src="../../assets/screen-reader.png"><p>SCREEN READER ACCESS</p></div>
    </div>
    <div class="header-content">
        <img class="logo" src="../../assets/logo1.png">
        <img class="logo" src="../../assets/logo2.png">
        <div class="heading">
            <h3>MAHARASHTRA REAL ESTATE REGULATORY AUTHORITY   </h3>
            <p>ISO 9001:2005 CERTIFIED    </p>
        </div>
        <img class="logo" src="../../assets/logo3.png">
    </div>
    <app-navbar></app-navbar>
<div class="tagline"><b><i><p>Facilitating the growth and promotion of a healthy, transparent, efficient and competitive real estate sector while protecting the interest of allottees, promoters and real estate agents</p></i></b></div>
</div>
