<div class="about-container">
    <div class="page-start">
        <div class="background-shape"></div>
        <p class="info-text">ABOUT TOET</p>
        <img class="toet-bg" src="../../assets/toet-bg.jpg">
        <img class="background-image" src="../../assets/info-image.png">
    </div>
    <div class="text-container">
        <h3>GOAL</h3>
        <p>Section 14 (3) of Real Estate (Regulation & Development) Act, 2016 mandates promoter of registered project to ensure completion, free from all structural defects or any other defects in workmanship, etc. To attain this objective and facilitate growth and promotion of healthy, transparent, efficient and competitive real estate sector there is a need to ensure quality of work being carried out on construction projects registered with MahaRERA.</p>
    
        <p>Quality of construction depends upon factors like input materials and workmanship.</p>
    
        <p>As a step towards this objective MahaRERA has, with effect from 1.12.2018 introduced Quality Assurance Certification (In Form 2 (A) from the Supervisor of the work, which would ensure that the basic input materials and workmanship conform to a prescribed standard.</p>

        <h3>TARGET</h3>

        <p>It is estimated that there are about 10 lakhs to 12 lakhs unskilled/semi-skilled workers in the MahaRERA registered projects and they would need training to upscale their skills. Such workers include Masons, Carpenters, Bar Benders, Plumbers, Electricians and Painters, etc. MahaRERA has initiated a programme to train a pool of 500 Expert Trainers who would in turn, would train the unskilled/semi-skilled workers in due course of time preferably in 5 years by obtaining funding from Maharashtra Building and Other Construction Workers Welfare Board (MBOCWWB).</p>

        <h3>ACHIEVEMENT</h3>

        <p>Hon’ble Chief Minister of Maharashtra has inaugurated and launched this programme of Training of Expert Trainers (TOET) on 19th February 2019 at Pune in a programme organized by MBOCWWB. This would create a pool of 500 Expert Trainers in a year or two.</p>

        <p>MahaRERA has, through its own funding engaged three Training partners, viz. Rustomjee Academy of Global Career (RAGC), KUSHAL, Pune and SBSS, Nagpur.
        The first batch of Expert Trainers has already been trained by these institutes and these trainers have been examined by National Skill Development Corporation, New Delhi and have certified them as trainers(As per the list).</p>

        <p>The details of the more Expert Trainers as and when they become available, would be uploaded. The promoters of MahaRERA projects will make of these Expert Trainers to upscale the workers working in their projects.</p>
    </div>
</div>
