<div class="navbar-container">
    <ul>
        <li><a href="#home" routerLink="/home" routerLinkActive="active">HOME</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li class="dropdown">
          <a class="dropbtn">SKILLING INITIATIVE</a>
          <div class="dropdown-content">
            <a>Report Non-Registration</a>
            <a>Non-Registration Application Status</a>
            <a>Rulings for Non-Registration Projects</a>
          </div>
        </li>
        <li><a>REGISTRATION</a></li>
        <li class="dropdown">
            <a class="dropbtn">NON-REGISTRATION</a>
            <div class="dropdown-content">
              <a routerLink="/about-toet">About TOET</a>
              <a>Certified Expert Trainers</a>
              <a>Workers Training</a>
              <a>Photo</a>
            </div>
        </li>
        <li><a>ONLINE APPLICATION</a></li>
        <li class="dropdown">
            <a class="dropbtn">APPELATE TRIBUNAL</a>
            <div class="dropdown-content">
                <a>Online appeals</a>
                <a>Tenders</a>
                <a>Cause List</a>
                <a>Orders</a>
                <a>Downloads</a>
                <a>Contact list</a>
                <a>Circular Notice & Nodal Officer</a>
                <a>Vacancy</a>
            </div>
        </li>
        <li><a>CONCILATION FORUM</a></li>
        <li><a>STATISTICS</a></li>
      </ul>
</div>