<div class="banner">
    <div class="info">
        <div class="background-shape"><div class="trapezoid"></div></div>
        <p class="info-text">ENABLING ACCOUNTABILITY, TRANSPARENCY & TRUST IN MAHARASHTRA REAL ESTATE</p>
        <img class="background-image" src="../../assets/info-image.png">
    </div>
    <div class="carousel">
            <!-- <div class="carousel-cell"><img src="../../assets/banner1.jpg" style="width:100%"></div>
            <div class="carousel-cell"><img src="../../assets/banner2.jpg" style="width:100%"></div>
            <div class="carousel-cell"><img src="../../assets/banner3.jpg" style="width:100%"></div>
            <div class="carousel-cell"><img src="../../assets/banner4.jpg" style="width:100%"></div> -->
    </div>
</div>