<div class="info-container">
    <div class="info">  
    <div class="background-shape">
        <div class="stakeholder-container">
            <p>KEY STAKEHOLDERS</p>
            <img src="../../assets/stakeholders.jpg">
            <p>Hon. Chief Minister</p>
            <p>Shri Uddhav Thackeray</p>
        </div>
    </div>
    
    <div class="info-text">
        <h1>ABOUT MAHARERA</h1>
        <p>Government of India has enacted the Real Estate (Regulation and Development) Act 2016 and all the sections of the Act shall come into force with effect from May 1, 2017. Under this Act, Government of Maharashtra established Maharashtra Real Estate Regulatory Authority (MahaRERA), vide Notification No. 23 dated 8 March 2017, for regulation and promotion of real estate sector in the State of Maharashtra.

            MahaRERA has delivered real benefits to the ecosystem and completed registrations, managed grievance redressals, and facilitated  multi party conciliation processes for real estate projects across Maharashtra, Daman, Diu and Dadra Nagar Haveli.
        </p>
        <div class="readmore-button"><div class="trapezoid"></div><a class="readmore-link">Read more</a></div>
    </div>
    </div>
</div>