<div class="milestones-container">
    <div class="heading-block">
        <div class="shape"></div>
        <p>KEY MILESTONES</p>
    </div>
    <div class="body-block">
        <div class="cubes">
            <div class="cube"><img src="../../assets/mile1.png"></div>
            <div class="cube grey"><p>APPLICATIONS RECEIVED<br>63023</p></div>
            <div class="cube grey"><p>COMPLAINTS REDRESSAL<br>10062</p></div>
            <div class="cube"><img src="../../assets/mile2.png"></div>
            <div class="cube"><img src="../../assets/mile3.png"></div>
            <div class="cube grey"><p>CONCILIATION COMPLETED<br>701</p></div>
        </div>
        <p>LAST UPDATED: 29/9/2021</p>
    </div>
</div>
