/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*colors*/
$gaia-orange:rgb(236,100,62);
$gaia-pink:rgb(218,159,138);
$gaia-yellow:rgb(248,218,168);
$gaia-green:rgb(178,175,157);
$gaia-grey:rgb(97,97,97);

html,body{
    margin:0;
}
